[submodule "lib"]
	path = lib
	url = https://github.com/cakephp/cakephp.git
[submodule "app/Plugin/Upload"]
	path = app/Plugin/Upload
	url = https://github.com/josegonzalez/upload.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/slywalker/TwitterBootstrap.git
[submodule "app/Plugin/Tags"]
	path = app/Plugin/Tags
	url = git://github.com/CakeDC/tags.git
