body {
	background: url('/img/blue-noise.jpg');
}

#GameAddForm input[type="radio"] {
	margin-bottom: 5px;
}

div.input-space {
	margin-bottom: 10px !important;
}

.form-horizontal .control-label {
	width: 60px;
}

.form-horizontal .controls {
	margin-left: 85px;
}

.dash-box {
	border: 1px solid #d5d5d5;
	background-color: #fff;
	min-height: 340px;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
}

.smack-box {
	border: 1px solid #d5d5d5;
	background-color: #fff;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
}

#name-card {
	border: 1px solid #d5d5d5;
	background-color: #fff;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
 	width: 200px;
 	margin: 15px auto 0px auto;
}

#UserDashboardForm span.add-on {
	width: 50px;
}

#UserDashboardForm span.add-on,
label[for="UserAvatar"],
#SmackDashboardForm span.add-on,
label[for="SmackMessage"]
{
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

#dash-card {
	text-align: center;
	padding: 10px 0px;
	min-height: 0;
}

#dash-card h3, #dash-card h4 {
	margin: 0;
}

#dash-card h4 {
	font-weight: normal;
}

div.span-padding {
	padding: 10px 20px 0px 20px;
}

#UserDashboardForm button[type="submit"],
#GameDashboardForm button[type="submit"],
#SmackDashboardForm button[type="submit"] {
	width: 100%;
	vertical-align: bottom;
}

#GameDashboardForm button[type="submit"] {
	margin-top: 10px;
}

#UserDashboardForm button[type="submit"] {
	margin-top: 25px;
}

#SmackDashboardForm button[type="submit"] {
	margin-top: 20px;
}

#container {
	background: url('/img/glow.png') 50% 0 no-repeat;
	padding-top: 20px;
}

.container {
	max-width: 1024px;
}

#smack-row {
	margin-top: 15px;
}

#dash-row {
	margin-top: 20px;
}

#header-row {
	text-align: center;
}

div.center {
 	float: none !important;
 	margin: 0 auto;
}