body {
	background: url('/img/blue-noise.jpg');
}

#GameAddForm input[type="radio"] {
	margin-bottom: 5px;
}

div.input-space {
	margin-bottom: 10px !important;
}

.form-horizontal .control-label {
	width: 60px;
}

.form-horizontal .controls {
	margin-left: 85px;
}

.dash-box {
	border: 1px solid #00ccff;
	background-color: #fff;
	min-height: 340px;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
}

#name-card {
	border: 1px solid #00ccff;
	background-color: #fff;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
 	width: 200px;
 	margin: 15px auto 0px auto;
}

#UserDashboardForm span.add-on {
	width: 50px;
}

#UserDashboardForm span.add-on,
label[for="UserAvatar"],
#SmackDashboardForm span.add-on,
label[for="SmackMessage"]
{
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

#dash-card {
	text-align: center;
	padding: 10px 0px;
	min-height: 0;
}

#dash-card h3, #dash-card h4 {
	margin: 0;
}

#dash-card h4 {
	font-weight: normal;
}

div.span-padding {
	padding: 10px 20px 0px 20px;
}

#UserDashboardForm button[type="submit"],
#GameDashboardForm button[type="submit"],
#SmackDashboardForm button[type="submit"],
#UserRandomTeamsForm button[type="submit"],
#login-dropdown button[type="submit"],
#smack-more
{
	width: 100%;
	vertical-align: bottom;
}

#smack-more {
	margin-bottom: 15px;
}

#UserRandomTeamsForm button[type="submit"] {
	margin-top: 15px;
}

#GameDashboardForm button[type="submit"] {
	margin-top: 10px;
}

#UserDashboardForm button[type="submit"] {
	margin-top: 25px;
}

#SmackDashboardForm button[type="submit"] {
	margin-top: 20px;
}

#container {
	background: url('/img/glow.png') 50% 0 no-repeat;
	padding-top: 20px;
}

.container {
	max-width: 1024px;
}

#smack-row {
	margin-top: 15px;
}

#dash-row {
	margin-top: 20px;
}

#header-row {
}

div.center {
 	float: none !important;
 	margin: 0 auto;
}

#navbar-row {
	margin-top: 20px;
}

#zap-logo {
	width: 44px;
	height: 44px;
}

#flash-row, #flash-row div.span11.offset1 {
	min-height: 0;
}

h1 {
	font-size: 20.5px;
}

div.row-board {
	margin-bottom: 20px;
}

#login-dropdown {
	padding: 7px;
}

#login-dropdown form {
	margin-bottom: 0;
}

#login-dropdown input {
	margin-bottom: 5px;
}

#login-dropdown div.control-group {
	margin-bottom: 0;
}

#login-dropdown button {
	margin-top: 0;
}

#footer {
	text-align: center;
	padding-top: 15px;
}

#forgot-pw {
	text-align: center;
	padding-top: 7px;
}

#leaderboard, #game-history {
	font-size: 11px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.modal-header .close {
	margin-top: -8px;
	margin-right: -9px;
}

.modal {
	width: 250px;
	margin-left: -125px;
}

#UserAllForm input[type="email"] {
	width: 206px !important;
}

td.winner {
	color: #008000;
	font-weight: bold;
}

td.loser {
	color: #FF0000;
	font-weight: bold;
}

td.actor {
	color: #0000FF;
	font-weight: bold;
}

td.action {
	font-weight: bold;
}

#game-history img {
	width: 16px;
	height: 16px;
}

.badge-gold {
	background-color: #FFD700;
}

.badge-silver {
	background-color: #C0C0C0;
}

.badge-bronze {
	background-color: #CD7F32;
}

td.stinker img {
	width: 50px;
	height: 50px;
}

#leaderboard tr:nth-child(2) {
	font-size: 17px;
	font-weight: bold;
}

#leaderboard tr:nth-child(3) {
	font-size: 15px;
	font-weight: bold;
}

#leaderboard tr:nth-child(4) {
	font-size: 13px;
	font-weight: bold;
}

#jarvis {
	opacity: 0.8;
	cursor: pointer;
	border: 0;
	font-size: 14px;
	width: 14px;
	padding: 9px;
	height: 14px;
	border-radius: 50%;
	box-shadow: 0 0 4px #222;
	float: right;
}

#jarvis:hover {
	opacity: 1;
}

#jarvis:focus {
	outline: none;
}

@media (min-width: 979px) {
	form input[type="text"], form input[type="email"] {
		width: 77%;
	}
	#UserDashboardForm button[type="submit"] {
		width: 96%;
	}
	#GameDashboardForm button[type="submit"] {
		width: 96%;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	form input[type="text"], form input[type="email"] {
		width: 45%;
	}
	form select {
		width: 85%;
	}
	legend {
		font-size: 18px;
	}
	#UserDashboardForm button[type="submit"] {
		width: 69%;
	}
	#dash-card img.img-polaroid {
	margin-left: -5px;
	}
	#dash-card {
		padding-top: 0;
	}
}

@media (max-width: 480px) {
	td, th {
		display: none;
	}
	td.mobile, th.mobile {
		display: table-cell;
	}
}
